@media screen and (min-width: 501px) {

	#siteHeaderEdit-frm {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: auto;
		gap: 0;
		width: 850px;
	}

	#siteHeaderEdit-frm > div {
		padding: 5px;
	}

	
	#siteHeaderEdit-obj_site_id-container {
		grid-row: 1;
		grid-column: 1 / span 2;
		
	}
	
	#siteHeaderEdit-obj_site_isdisabled-container {
		grid-row: 1;
		grid-column: 3 / span 2;
		
	}
	
	#siteHeaderEdit-obj_site_name-container {
		grid-row: 1;
		grid-column: 1 / span 2;
		
	}
	
	#siteHeaderEdit-obj_site_namereport-container {
		grid-row: 2;
		grid-column: 1 / span 4;
		
	}
	
	#siteHeaderEdit-obj_site_location-container {
		grid-row: 3;
		grid-column: 1 / span 2;
		
	}
	
	#siteHeaderEdit-obj_site_city-container {
		grid-row: 3;
		grid-column: 3 / span 2;
		
	}
		


}