@media screen and (min-width: 501px) {

	#appsHeaderEdit-frm {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: auto;
		gap: 0;
		width: 850px;
	}

	#appsHeaderEdit-frm > div {
		padding: 5px;
	}

	
	#appsHeaderEdit-obj_apps_id-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#appsHeaderEdit-obj_apps_isdisabled-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#appsHeaderEdit-obj_apps_name-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#appsHeaderEdit-obj_apps_url-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#appsHeaderEdit-obj_apps_descr-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#appsHeaderEdit-obj_apps_directory-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
		


}