@media screen and (min-width: 501px) {

	#coagroupHeaderEdit-frm {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: auto;
		gap: 0;
		width: 850px;
	}

	#coagroupHeaderEdit-frm > div {
		padding: 5px;
	}

	
	#coagroupHeaderEdit-obj_coagroup_id-container {
		grid-row: 1;
		grid-column: 1 / span 2;
		
	}
	
	#coagroupHeaderEdit-obj_coagroup_name-container {
		grid-row: 2;
		grid-column: 1 / span 4;
		
	}
	
	#coagroupHeaderEdit-obj_coagroup_descr-container {
		grid-row: 3;
		grid-column: 1 / span 6;
		
	}
	
	#coagroupHeaderEdit-obj_coagroup_parent-container {
		grid-row: 4;
		grid-column: 1 / span 4;
		
	}
	
	#coagroupHeaderEdit-obj_coagroup_level-container {
		grid-row: 4;
		grid-column: 5 / span 2;
		
	}
	
	#coagroupHeaderEdit-obj_coagroup_pathid-container {
		grid-row: 5;
		grid-column: 1 / span 2;
		
	}
	
	#coagroupHeaderEdit-obj_coagroup_path-container {
		grid-row: 5;
		grid-column: 3 / span 2;
		
	}
		


}