@media screen and (min-width: 501px) {

	#programHeaderEdit-frm {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: auto;
		gap: 0;
		width: 850px;
	}

	#programHeaderEdit-frm > div {
		padding: 5px;
	}

	
	#programHeaderEdit-obj_program_id-container {
		grid-row: 1;
		grid-column: 1 / span 2;
		
	}
	
	#programHeaderEdit-obj_program_isdisabled-container {
		grid-row: 1;
		grid-column: 3 / span 2;
		
	}
	
	#programHeaderEdit-obj_program_name-container {
		grid-row: 2;
		grid-column: 1 / span 2;
		
	}
	
	#programHeaderEdit-obj_program_title-container {
		grid-row: 2;
		grid-column: 3 / span 3;
		
	}
	
	#programHeaderEdit-obj_program_descr-container {
		grid-row: 3;
		grid-column: 1 / span 6;
		
	}
	
	#programHeaderEdit-obj_programgroup_id-container {
		grid-row: 4;
		grid-column: 1 / span 2;
		
	}
	
	#programHeaderEdit-obj_apps_id-container {
		grid-row: 4;
		grid-column: 3 / span 2;
		
	}
	
	#programHeaderEdit-obj_program_variance-container {
		grid-row: 5;
		grid-column: 1 / span 2;
		
	}
	
	#programHeaderEdit-obj_program_icon-container {
		grid-row: 5;
		grid-column: 3 / span 4;
		
	}
		


}