@media screen and (min-width: 501px) {

	#programHeaderEdit-frm {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: auto;
		gap: 0;
		width: 850px;
	}

	#programHeaderEdit-frm > div {
		padding: 5px;
	}

	
	#programHeaderEdit-obj_program_id-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#programHeaderEdit-obj_program_isdisabled-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#programHeaderEdit-obj_program_name-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#programHeaderEdit-obj_apps_id-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#programHeaderEdit-obj_programgroup_id-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#programHeaderEdit-obj_program_title-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#programHeaderEdit-obj_program_variance-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#programHeaderEdit-obj_program_descr-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#programHeaderEdit-obj_program_icon-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
		


}