@media screen and (min-width: 501px) {

	#docHeaderEdit-frm {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: auto;
		gap: 0;
		width: 850px;
	}

	#docHeaderEdit-frm > div {
		padding: 5px;
	}

	
	#docHeaderEdit-obj_doc_id-container {
		grid-row: 1;
		grid-column: 1 / span 2;
		
	}
	
	#docHeaderEdit-obj_doc_prefix-container {
		grid-row: 1;
		grid-column: 3 / span 2;
		
	}
	
	#docHeaderEdit-obj_doc_name-container {
		grid-row: 2;
		grid-column: 1 / span 3;
		
	}
	
	#docHeaderEdit-obj_doc_descr-container {
		grid-row: 3;
		grid-column: 1 / span 6;
		
	}
	
	#docHeaderEdit-obj_doc_seqclust-container {
		grid-row: 4;
		grid-column: 1 / span 2;
		
	}
	
	#docHeaderEdit-obj_doc_seqnum-container {
		grid-row: 4;
		grid-column: 3 / span 2;
		
	}
		


}