@media screen and (min-width: 501px) {

	#poHeaderEdit-frm {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: auto;
		gap: 0;
		width: 850px;
	}

	#poHeaderEdit-frm > div {
		padding: 5px;
	}

	
	#poHeaderEdit-obj_po_id-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#poHeaderEdit-ID-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#poHeaderEdit-obj_pos_descr-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
		


}