@media screen and (min-width: 501px) {

	#groupHeaderEdit-frm {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: auto;
		gap: 0;
		width: 850px;
	}

	#groupHeaderEdit-frm > div {
		padding: 5px;
	}

	
	#groupHeaderEdit-obj_group_id-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#groupHeaderEdit-obj_group_name-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#groupHeaderEdit-obj_group_descr-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#groupHeaderEdit-obj_group_isdisabled-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
		


}