@media screen and (min-width: 501px) {

	#groupProgramEdit-frm {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: auto;
		gap: 0;
		width: 850px;
	}

	#groupProgramEdit-frm > div {
		padding: 5px;
	}

	
	#groupProgramEdit-obj_groupprogram_id-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#groupProgramEdit-obj_program_id-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#groupProgramEdit-obj_groupprogram_isdisabled-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#groupProgramEdit-obj_group_id-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
		


}