@media screen and (min-width: 501px) {

	#settingHeaderEdit-frm {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: auto;
		gap: 0;
		width: 850px;
	}

	#settingHeaderEdit-frm > div {
		padding: 5px;
	}

	
	#settingHeaderEdit-obj_setting_id-container {
		grid-row: 1;
		grid-column: 1 / span 2;
		
	}
	
	#settingHeaderEdit-obj_setting_value-container {
		grid-row: 1;
		grid-column: 3 / span 4;
		
	}
	
	#settingHeaderEdit-obj_setting_descr-container {
		grid-row: 2;
		grid-column: 1 / span 6;
		
	}
		


}