@media screen and (min-width: 501px) {

	#programgroupHeaderEdit-frm {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: auto;
		gap: 0;
		width: 850px;
	}

	#programgroupHeaderEdit-frm > div {
		padding: 5px;
	}

	
	#programgroupHeaderEdit-obj_programgroup_id-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#programgroupHeaderEdit-obj_programgroup_isparent-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#programgroupHeaderEdit-obj_programgroup_name-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#programgroupHeaderEdit-obj_programgroup_parent-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#programgroupHeaderEdit-obj_programgroup_descr-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#programgroupHeaderEdit-obj_programgroup_icon-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#programgroupHeaderEdit-obj_programgroup_level-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#programgroupHeaderEdit-obj_programgroup_pathid-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#programgroupHeaderEdit-obj_programgroup_path-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
		


}