@media screen and (min-width: 501px) {

	#taxtypeHeaderEdit-frm {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: auto;
		gap: 0;
		width: 850px;
	}

	#taxtypeHeaderEdit-frm > div {
		padding: 5px;
	}

	
	#taxtypeHeaderEdit-obj_taxtype_id-container {
		grid-row: 1;
		grid-column: 1 / span 2;
		
	}
	
	#taxtypeHeaderEdit-obj_taxtype_isdisabled-container {
		grid-row: 1;
		grid-column: 3 / span 2;
		
	}
	
	#taxtypeHeaderEdit-obj_taxtype_name-container {
		grid-row: 2;
		grid-column: 1 / span 3;
		
	}
	
	#taxtypeHeaderEdit-obj_taxtype_model-container {
		grid-row: 3;
		grid-column: 1 / span 2;
		
	}
	
	#taxtypeHeaderEdit-obj_taxtype_value-container {
		grid-row: 3;
		grid-column: 3 / span 2;
		
	}
		


}