@media screen and (min-width: 501px) {
	.chk-opt-header {
		margin-left: 77px;
	}

	.chk-opt-detil {
		margin-left: 77px;
	}


	#spcHead {
		grid-row: 10;
		grid-column: 1;
	}

	#lblHead {
		grid-row: 11;
		grid-column: 1;
	}

	#spcDetil {
		grid-row: 16;
		grid-column: 1;
	}

	#lblDetil {
		grid-row: 17;
		grid-column: 1;

	}

	.row-gap {
		min-height: 30px;
	}


	.row-label {
		margin-right: 52px;
		text-align: right;
		font-weight: bold;
	}

}


.jurnaltype-row-coa_id {
	width: 100px;
}


.jurnaltype-row-coa_name {
	flex-grow: 1;

}

.jurnaltype-row-agingtype {
	width: 50px;
}