@media screen and (min-width: 501px) {

	#jurnaltypeUserEdit-frm {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: auto;
		gap: 0;
		width: 850px;
	}

	#jurnaltypeUserEdit-frm > div {
		padding: 5px;
	}

	
	#jurnaltypeUserEdit-obj_jurnaltypeuser_id-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#jurnaltypeUserEdit-obj_user_id-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#jurnaltypeUserEdit-obj_isallowposting-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#jurnaltypeUserEdit-obj_isallowunposting-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#jurnaltypeUserEdit-obj_jurnaltype_id-container {
		grid-row: 1;
		grid-column: 5 / span 2;
		
	}
		


}