@media screen and (min-width: 501px) {

	#jurnaltypeCoaEdit-frm {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: auto;
		gap: 0;
		width: 850px;
	}

	#jurnaltypeCoaEdit-frm > div {
		padding: 5px;
	}

	
	#jurnaltypeCoaEdit-obj_jurnaltypecoa_id-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#jurnaltypeCoaEdit-obj_coa_id-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#jurnaltypeCoaEdit-obj_jurnaltypecoa_isdr-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#jurnaltypeCoaEdit-obj_jurnaltypecoa_iscr-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#jurnaltypeCoaEdit-obj_jurnaltype_id-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
		


}