@media screen and (min-width: 501px) {

	#jurnaltypeHeaderEdit-frm {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: auto;
		gap: 0;
		width: 850px;
	}

	#jurnaltypeHeaderEdit-frm > div {
		padding: 5px;
	}

	
	#jurnaltypeHeaderEdit-obj_jurnaltype_id-container {
		grid-row: 1;
		grid-column: 5 / span 2;
		
	}
	
	#jurnaltypeHeaderEdit-obj_jurnaltype_name-container {
		grid-row: 1;
		grid-column: 1 / span 3;
		
	}
	
	#jurnaltypeHeaderEdit-obj_jurnaltype_code-container {
		grid-row: 1;
		grid-column: 4;
		
	}
	
	#jurnaltypeHeaderEdit-obj_jurnaltype_isallowselect-container {
		grid-row: 1;
		grid-column: 6;
		
	}
	
	#jurnaltypeHeaderEdit-obj_jurnaltype_descr-container {
		grid-row: 3;
		grid-column: 1 / span 6;
		
	}
	
	#jurnaltypeHeaderEdit-obj_jurnaltype_headcopyto-container {
		grid-row: 4;
		grid-column: 1 / span 2;
		
	}
	
	#jurnaltypeHeaderEdit-obj_ishasduedate-container {
		grid-row: 5;
		grid-column: 1 / span 2;
		
	}
	
	#jurnaltypeHeaderEdit-obj_isheadhasvalue-container {
		grid-row: 6;
		grid-column: 1 / span 2;
		
	}
	
	#jurnaltypeHeaderEdit-obj_isheadhascoa-container {
		grid-row: 7;
		grid-column: 1 / span 2;
		
	}
	
	#jurnaltypeHeaderEdit-obj_isheadhasunit-container {
		grid-row: 8;
		grid-column: 1 / span 2;
		
	}
	
	#jurnaltypeHeaderEdit-obj_isheadhassite-container {
		grid-row: 9;
		grid-column: 1 / span 2;
		
	}
	
	#jurnaltypeHeaderEdit-obj_isheadhasstruct-container {
		grid-row: 10;
		grid-column: 1 / span 2;
		
	}
	
	#jurnaltypeHeaderEdit-obj_isheadhaspartner-container {
		grid-row: 11;
		grid-column: 1 / span 2;
		
	}
	
	#jurnaltypeHeaderEdit-obj_isheadhasproject-container {
		grid-row: 12;
		grid-column: 1 / span 2;
		
	}
	
	#jurnaltypeHeaderEdit-obj_isheadhaspaymtype-container {
		grid-row: 13;
		grid-column: 1 / span 2;
		
	}
	
	#jurnaltypeHeaderEdit-obj_isheadhaspaymreq-container {
		grid-row: 14;
		grid-column: 1 / span 2;
		
	}
	
	#jurnaltypeHeaderEdit-obj_isheadunitmandatory-container {
		grid-row: 15;
		grid-column: 1 / span 2;
		
	}
	
	#jurnaltypeHeaderEdit-obj_isheadsitemandatory-container {
		grid-row: 16;
		grid-column: 1 / span 2;
		
	}
	
	#jurnaltypeHeaderEdit-obj_isheadstructmandatory-container {
		grid-row: 17;
		grid-column: 1 / span 2;
		
	}
	
	#jurnaltypeHeaderEdit-obj_isheadprojectmandatory-container {
		grid-row: 18;
		grid-column: 1 / span 2;
		
	}
	
	#jurnaltypeHeaderEdit-obj_isdethasunit-container {
		grid-row: 8;
		grid-column: 3 / span 2;
		
	}
	
	#jurnaltypeHeaderEdit-obj_isdethassite-container {
		grid-row: 9;
		grid-column: 3 / span 2;
		
	}
	
	#jurnaltypeHeaderEdit-obj_isdetilhasstruct-container {
		grid-row: 10;
		grid-column: 3 / span 2;
		
	}
	
	#jurnaltypeHeaderEdit-obj_isdetilhaspartner-container {
		grid-row: 11;
		grid-column: 3 / span 2;
		
	}
	
	#jurnaltypeHeaderEdit-obj_isdetilhasproject-container {
		grid-row: 12;
		grid-column: 3 / span 2;
		
	}
	
	#jurnaltypeHeaderEdit-obj_isdetilallowselectunit-container {
		grid-row: 8;
		grid-column: 5 / span 2;
		
	}
	
	#jurnaltypeHeaderEdit-obj_isdetilallowselectsite-container {
		grid-row: 9;
		grid-column: 5 / span 2;
		
	}
	
	#jurnaltypeHeaderEdit-obj_isdetilallowselectstruct-container {
		grid-row: 10;
		grid-column: 5 / span 2;
		
	}
	
	#jurnaltypeHeaderEdit-obj_isdetilallowselectpartner-container {
		grid-row: 11;
		grid-column: 5 / span 2;
		
	}
	
	#jurnaltypeHeaderEdit-obj_isdetilallowselectproject-container {
		grid-row: 12;
		grid-column: 5 / span 2;
		
	}
	
	#jurnaltypeHeaderEdit-obj_isdetilallowgetap-container {
		grid-row: 14;
		grid-column: 5 / span 2;
		
	}
	
	#jurnaltypeHeaderEdit-obj_isdetilallowgetar-container {
		grid-row: 15;
		grid-column: 5 / span 2;
		
	}
		


}