/* Format kolom */

#jurnalHeaderList-tbl td {
	vertical-align: top;
}


#jurnalHeaderList-tbl [data-name="jurnal_doc"] {
	width: 120px;
	border-left: 1px dotted #aaa;
	border-right: 1px dotted #aaa;
}

#jurnalHeaderList-tbl [data-name="jurnal_date"] {
	width: 100px;
	border-right: 1px dotted #aaa;
}

#jurnalHeaderList-tbl [data-name="ispost"] {
	width: 55px;
	border-right: 1px dotted #aaa;
}

#jurnalHeaderList-tbl [data-name="jurnal_idr"] {
	width: 100px;
	border-left: 1px dotted #aaa;
	border-right: 1px dotted #aaa;
}





/*  Status Baris */
/*
#jurnalHeaderList-tbl tr[data-isunbalance="true"] {
	background-color: #ffbfbf;
}

#jurnalHeaderList-tbl tr[data-iscommit="true"] {
	background-color: #bfdfff;
}

#jurnalHeaderList-tbl tr[data-isposted="true"] {
	background-color: #cfcfcf;
}
*/

.status-label {
	display: inline-block;
	width: 3rem;
	font-size: 0.5rem;
	font-weight: bold;
	padding: 3px;
	border-radius: 4px;
	background-color: #cfcfcf;
}

.row-draft td[binding="ispost"] div,
.row-unbalance td[binding="ispost"] div,
.row-commit td[binding="ispost"] div,
.row-posted td[binding="ispost"] div {
	display: none;
}


.row-unbalance td[binding="ispost"] div[name="unbalance"] {
	display: inline-block;
	background-color: #e45656 !important;
	color: #fff !important;
}

.row-commit td[binding="ispost"] div[name="commit"] {
	display: inline-block;
	background-color: #d9e0f8 !important;
	border: 1px solid #5677e4;
	color: #5677e4 !important;
}



.row-posted {
	background-color: #cfcfcf !important;
}

.row-posted td[binding="ispost"] {
	& div[name="commit"] {
		display: none;
	}

	& div[name="posted"] {
		display: inline-block;
		background-color: #000 !important;
		color: #fff !important;
		border: 1px solid #4e4e4e
	}
}











/* Legend */
#jurnal-status-legend {
	display: grid;
	grid-template-columns: 10px 200px;
	column-gap: 10px;
	margin-top: 20px;

}

#jurnal-status-legend [data-icon]>div {
	box-sizing: border-box;
	width: 15px;
	height: 15px;
	border: 1px solid #999;
	margin: 3px;
}

#jurnal-status-legend [data-text] {
	font-size: 0.8rem;
	margin: 3px;
}