#jurnalDetilList-tbl [data-name="coa_name"] {
	width: 250px;
	border-left: 1px dotted #aaa;

}

#jurnalDetilList-tbl [data-name="jurnaldetil_value"] {
	width: 100px;
}

#jurnalDetilList-tbl [data-name="curr_name"] {
	width: 60px;
}

#jurnalDetilList-tbl [data-name="jurnaldetil_idr"] {
	width: 120px;
	border-left: 1px dotted #aaa;
}

#jurnalDetilList-tbl tfoot tr {
	background-color: #ccc;
}

.jurnaldetillist-kredit {
	padding-left: 30px !important;
}