#jurnalHeaderList-tbl [data-name="jurnal_doc"] {
	width: 120px;
	border-left: 1px dotted #aaa;
	border-right: 1px dotted #aaa;
}

#jurnalHeaderList-tbl [data-name="jurnal_date"] {
	width: 100px;
	border-right: 1px dotted #aaa;
}

#jurnalHeaderList-tbl [data-name="ispost"] {
	width: 55px;
	border-right: 1px dotted #aaa;
}

#jurnalHeaderList-tbl [data-name="jurnal_idr"] {
	width: 100px;
	border-left: 1px dotted #aaa;
	border-right: 1px dotted #aaa;
}

#jurnalHeaderList-tbl tr[data-isunbalance="true"] {
	background-color: #ffbfbf;
}

#jurnalHeaderList-tbl tr[data-iscommit="true"] {
	background-color: #bfdfff;
}

#jurnalHeaderList-tbl tr[data-isposted="true"] {
	background-color: #aeaeae;
}












/* Legend */
#jurnal-status-legend {
	display: grid;
	grid-template-columns: 10px 200px;
	column-gap: 10px;
	margin-top: 20px;

}

#jurnal-status-legend [data-icon]>div {
	box-sizing: border-box;
	width: 15px;
	height: 15px;
	border: 1px solid #999;
	margin: 3px;
}

#jurnal-status-legend [data-text] {
	font-size: 0.8rem;
	margin: 3px;
}