@import url('./jurnalHeaderList.css');
@import url('./jurnalHeaderEdit.css');
@import url('./jurnalDetilList.css');
@import url('./jurnalDetilEdit.css');
@import url('./jurnal-outstandingdialog.css');

