.curr-row-code {
	width: 200px;
}

.curr-row-date {
	width: 200px;
}

.curr-row-value {
	width: 200px;
	text-align: right;
}




.paymreq-row-doc {
	width: 160px;
}

.paymreq-row-descr {
	flex-grow: 1;
}

.paymreq-row-value {
	align-self: flex-end;
	text-align: right;
	width: 200px;
}