#jurnalDetilEdit-head {
	margin-bottom: 40px;
}


/* Mobile */
@media screen and (max-width: 500px) {

}


/* Desktop */
@media screen and (min-width: 501px) {
	#jurnalDetilEdit-frm {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: auto;
		gap: 0;
		width: 850px;
	}

	#jurnalDetilEdit-frm > * {
		padding: 5px;
	}
	
	
	#jurnalDetilEdit-obj_coa_id-container {
		grid-row: 1;
		grid-column: 1 / span 3;
	}

	#jurnalDetilEdit-obj_jurnaldetil_id-container {
		grid-row: 1;
		grid-column: 5 / span 3;	
	}

	#jurnalDetilEdit-obj_jurnaldetil_descr-container {
		grid-row: 2;
		grid-column: 1 / span 6;	
	}

	#jurnalDetilEdit-obj_partner_id-container {
		grid-row: 3;
		grid-column: 1 / span 3;	
	}

	#jurnalDetilEdit-obj_dept_id-container {
		grid-row: 3;
		grid-column: 5 / span 2;	
	}

	#jurnalDetilEdit-obj_site_id-container {
		grid-row: 4;
		grid-column: 1 / span 2;	
	}

	#jurnalDetilEdit-obj_unit_id-container {
		grid-row: 4;
		grid-column: 3 / span 2;	
	}

	#jurnalDetilEdit-obj_project_id-container {
		grid-row: 4;
		grid-column: 5 / span 2;	
	}


	#jurnalDetilEdit-obj_curr_id-container {
		margin-top: 13px;
		grid-row: 5;
		grid-column: 1 / span 2;	
	}

	#jurnalDetilEdit-obj_jurnaldetil_value-container {
		margin-top: 13px;
		grid-row: 5;
		grid-column: 3 / span 2;	
	}

	#jurnalDetilEdit-obj_curr_rate-container {
		margin-top: 13px;
		grid-row: 5;
		grid-column: 5 / span 2;	
	}

	#jurnalDetilEdit-obj_jurnaldetil_idr-container {
		grid-row: 6;
		grid-column: 3 / span 2;
	}


	#jurnalDetilEdit-obj_jurnaltype_id-container {
		grid-row: 7;
		grid-column: 1;
	}

	#jurnalDetilEdit-obj_jurnaldetil_id_ref-container {
		grid-row: 7;
		grid-column: 2 / span 2;
	}

	#jurnalDetilEdit-obj_coacurr-container {
		grid-row: 7;
		grid-column: 4;
	}


	#jurnalDetilEdit-obj_jurnaldetil_ishead-container {
		grid-row: 7;
		grid-column: 6;
		margin-top: 35px;
	
	}

	#jurnalDetilEdit-obj_agingtype_id-container {
		grid-row: 8;
		grid-column: 1;
	}

	#jurnalDetilEdit-obj_iscurradj-container {
		grid-row: 8;
		grid-column: 2 / span 2;
		margin-left: 75px;
	}


	#jurnalDetilEdit-obj_isdebet-container {
		grid-row: 8;
		grid-column: 6;
	}

	#jurnalDetilEdit-obj_iskredit-container {
		grid-row: 9;
		grid-column: 6;
	}


	#jurnalDetilEdit-footer {
		margin-top: 20px;
		grid-row: 10;
		grid-column: 1 / span 6;
	}


	.detil-el-entry-top {
		margin-top: 10px;
	}	

	.detil-el-footer {
		margin-top: 30px;
	}


	#jurnalDetilEdit-div_entry {
		grid-row: 1 / span 4;
		grid-column: 1 / span 6;
		background-color: #f7f7f7;
		z-index: -1;
		/* border: 1px solid #e8e8e8; */
		/* border-bottom: 0; */
	}

	#jurnalDetilEdit-div_value {
		margin-top: 10px;
		grid-row: 5 / span 2;
		grid-column: 1 / span 6;
		background-color: #dce3f5;
		/* border: 1px solid #e8e8e8; */
		/* border-top: 0; */
		z-index: -1;
	}
	

	#jurnalDetilEdit-div_info {
		margin-top: 25px;
		grid-row: 7 / span 3;
		grid-column: 1 / span 6;
		background-color: #ddd;
		z-index: -1;
	}
}