@media screen and (min-width: 501px) {

	#partnertypeHeaderEdit-frm {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: auto;
		gap: 0;
		width: 850px;
	}

	#partnertypeHeaderEdit-frm > div {
		padding: 5px;
	}

	
	#partnertypeHeaderEdit-obj_partnertype_id-container {
		grid-row: 1;
		grid-column: 1 / span 2;
		
	}
	
	#partnertypeHeaderEdit-obj_partnertype_name-container {
		grid-row: 2;
		grid-column: 1 / span 3;
		
	}
	
	#partnertypeHeaderEdit-obj_partnertype_isemployee-container {
		grid-row: 2;
		grid-column: 4 / span 2;
		
	}
		


}