@media screen and (min-width: 501px) {

	#paymreqHeaderEdit-obj_curr_id-container>label {
		width: 40px;
		min-width: 40px;
	}

	#paymreqHeaderEdit-obj_curr_id-container .fgta5-entry-container {
		width: unset;
	}

}



