@media screen and (min-width: 501px) {

	#paymreqDetilEdit-frm {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: auto;
		gap: 0;
		width: 850px;
	}

	#paymreqDetilEdit-frm > div {
		padding: 5px;
	}

	
	#paymreqDetilEdit-obj_paymreqdetil_id-container {
		grid-row: 1;
		grid-column: 1 / span 2;
		
	}
	
	#paymreqDetilEdit-obj_itemclass_id-container {
		grid-row: 2;
		grid-column: 1 / span 2;
		
	}
	
	#paymreqDetilEdit-obj_paymreqdetil_descr-container {
		grid-row: 2;
		grid-column: 3 / span 4;
		
	}
	
	#paymreqDetilEdit-obj_paymreqdetil_value-container {
		grid-row: 3;
		grid-column: 1 / span 2;
		
	}
	
	#paymreqDetilEdit-obj_paymreq_id-container {
		grid-row: 1;
		grid-column: 1 / span 3;
		
	}
		


}