@media screen and (min-width: 501px) {

	#paymreqTermEdit-frm {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: auto;
		gap: 0;
		width: 850px;
	}

	#paymreqTermEdit-frm > div {
		padding: 5px;
	}

	
	#paymreqTermEdit-obj_paymreqterm_id-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#paymreqTermEdit-obj_paymreqterm_descr-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#paymreqTermEdit-obj_paymreq_id-container {
		grid-row: 1;
		grid-column: 1 / span 3;
		
	}
		


}