@import url('./paymreq-print.css');


/* patch */
#paymreqHeaderEdit-obj_paymreq_version-display,
#paymreqHeaderEdit-obj_paymreq_version-container .fgta5-entry-input-wrapper {
	width: stretch;
}


@media screen and (min-width: 501px) {
	#paymreqHeaderEdit-obj_curr_id-container>label {
		width: 40px;
		min-width: 40px;
	}

	#paymreqHeaderEdit-obj_curr_id-container .fgta5-entry-container {
		width: unset;
	}


	#paymreqHeaderEdit-btn_actionApprove {
		margin-left: auto;
		order: 4;
	}

	#paymreqHeaderEdit-btn_actionReject {
		margin-left: 0;
		order: 5;
	}
}



@media screen and (min-width: 501px) {

	div[name="panel-record-basic"] {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;
	}

	div[name="panel-record-basic"]>div:nth-child(3) {
		grid-column: span 2;
		margin: 20px 10px 0 10px;

	}

	#paymreq-response-panel {
		padding-left: 20px;
	}

	#paymreq-response-table th {
		border-bottom: 1px solid #666666;
		background-color: #ddd;
	}

	#paymreq-response-table td {
		border-bottom: 1px dotted #999;
		vertical-align: top;
		user-select: text;
	}

	#paymreq-response-table [name="jurnal-doc"] {
		width: 150px;
		white-space: nowrap;
		text-align: left;
	}

	#paymreq-response-table [name="jurnal-date"] {
		width: 90px;
		white-space: nowrap;
		text-align: center;
	}

	#paymreq-response-table [name="jurnal-descr"] {
		text-align: left;
	}


	#paymreq-response-table [name="jurnal-value"] {
		width: 100px;
		white-space: nowrap;
		text-align: right;
	}

	#paymreq-response-table [name="jurnal-posted"] {
		width: 80px;
		white-space: nowrap;
		text-align: center;
	}
}