@media screen and (min-width: 501px) {

	#paymreqHeaderEdit-frm {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: auto;
		gap: 0;
		width: 850px;
	}

	#paymreqHeaderEdit-frm > div {
		padding: 5px;
	}

	
	#paymreqHeaderEdit-obj_paymreq_id-container {
		grid-row: 1;
		grid-column: 1 / span 3;
		
	}
	
	#paymreqHeaderEdit-obj_paymreq_doc-container {
		grid-row: 1;
		grid-column: 1 / span 3;
		
	}
	
	#paymreqHeaderEdit-obj_iscommit-container {
		grid-row: 1;
		grid-column: 4;
		
	}
	
	#paymreqHeaderEdit-obj_isapproved-container {
		grid-row: 1;
		grid-column: 5 / span 2;
		
	}
	
	#paymreqHeaderEdit-obj_paymreqtype_id-container {
		grid-row: 2;
		grid-column: 1 / span 2;
		
	}
	
	#paymreqHeaderEdit-obj_paymreq_invoice-container {
		grid-row: 2;
		grid-column: 3 / span 2;
		
	}
	
	#paymreqHeaderEdit-obj_paymreq_date-container {
		grid-row: 2;
		grid-column: 5 / span 2;
		
	}
	
	#paymreqHeaderEdit-obj_paymreq_descr-container {
		grid-row: 3;
		grid-column: 1 / span 4;
		
	}
	
	#paymreqHeaderEdit-obj_paymreq_datedue-container {
		grid-row: 3;
		grid-column: 5 / span 2;
		
	}
	
	#paymreqHeaderEdit-obj_struct_id-container {
		grid-row: 4;
		grid-column: 1 / span 2;
		
	}
	
	#paymreqHeaderEdit-obj_project_id-container {
		grid-row: 4;
		grid-column: 3 / span 4;
		
	}
	
	#paymreqHeaderEdit-obj_site_id-container {
		grid-row: 5;
		grid-column: 1 / span 2;
		
	}
	
	#paymreqHeaderEdit-obj_unit_id-container {
		grid-row: 5;
		grid-column: 3 / span 2;
		
	}
	
	#paymreqHeaderEdit-obj_bc_id-container {
		grid-row: 6;
		grid-column: 1 / span 3;
		
	}
	
	#paymreqHeaderEdit-obj_partner_id-container {
		grid-row: 7;
		grid-column: 1 / span 3;
		
	}
	
	#paymreqHeaderEdit-obj_partnercontact_id-container {
		grid-row: 7;
		grid-column: 4 / span 3;
		
	}
	
	#paymreqHeaderEdit-obj_paymtype_id-container {
		grid-row: 8;
		grid-column: 1 / span 2;
		
	}
	
	#paymreqHeaderEdit-obj_payment_bgno-container {
		grid-row: 8;
		grid-column: 3 / span 4;
		
	}
	
	#paymreqHeaderEdit-obj_partnerbank_id-container {
		grid-row: 8;
		grid-column: 3 / span 4;
		
	}
	
	#paymreqHeaderEdit-obj_partnerbank_account-container {
		grid-row: 9;
		grid-column: 1 / span 2;
		
	}
	
	#paymreqHeaderEdit-obj_partnerbank_accountname-container {
		grid-row: 9;
		grid-column: 3 / span 2;
		
	}
	
	#paymreqHeaderEdit-obj_partnerbank_bankname-container {
		grid-row: 9;
		grid-column: 5 / span 2;
		
	}
	
	#paymreqHeaderEdit-obj_paymreq_value-container {
		grid-row: 10;
		grid-column: 1 / span 2;
		
	}
	
	#paymreqHeaderEdit-obj_curr_id-container {
		grid-row: 10;
		grid-column: 3 / span 2;
		
	}
		


}