@media screen and (min-width: 501px) {

	#agingtypeHeaderEdit-frm {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: auto;
		gap: 0;
		width: 850px;
	}

	#agingtypeHeaderEdit-frm > div {
		padding: 5px;
	}

	
	#agingtypeHeaderEdit-obj_agingtype_id-container {
		grid-row: 1;
		grid-column: 1 / span 2;
		
	}
	
	#agingtypeHeaderEdit-obj_agingtype_name-container {
		grid-row: 1;
		grid-column: 3 / span 4;
		
	}
		


}