@media screen and (min-width: 501px) {

	#authHeaderEdit-frm {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: auto;
		gap: 0;
		width: 850px;
	}

	#authHeaderEdit-frm > div {
		padding: 5px;
	}

	
	#authHeaderEdit-obj_auth_id-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#authHeaderEdit-obj_auth_name-container {
		grid-row: 1;
		grid-column: 1 / span 2;
		
	}
	
	#authHeaderEdit-obj_auth_label-container {
		grid-row: 1;
		grid-column: 3 / span 2;
		
	}
	
	#authHeaderEdit-obj_auth_descr-container {
		grid-row: 2;
		grid-column: 1 / span 6;
		
	}
	
	#authHeaderEdit-obj_user_id-container {
		grid-row: 3;
		grid-column: 1 / span 3;
		
	}
		


}