@media screen and (min-width: 501px) {

	#unitHeaderEdit-frm {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: auto;
		gap: 0;
		width: 850px;
	}

	#unitHeaderEdit-frm > div {
		padding: 5px;
	}

	
	#unitHeaderEdit-obj_unit_id-container {
		grid-row: 1;
		grid-column: 1 / span 2;
		
	}
	
	#unitHeaderEdit-obj_unit_isdisabled-container {
		grid-row: 1;
		grid-column: 3 / span 2;
		
	}
	
	#unitHeaderEdit-obj_unit_name-container {
		grid-row: 2;
		grid-column: 1 / span 3;
		
	}
	
	#unitHeaderEdit-obj_unit_descr-container {
		grid-row: 3;
		grid-column: 1 / span 6;
		
	}
		


}