@media screen and (min-width: 501px) {

	#userFavouriteEdit-frm {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: auto;
		gap: 0;
		width: 850px;
	}

	#userFavouriteEdit-frm > div {
		padding: 5px;
	}

	
	#userFavouriteEdit-obj_userfavouriteprogram_id-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#userFavouriteEdit-obj_program_id-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#userFavouriteEdit-obj_user_id-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
		


}