@media screen and (min-width: 501px) {

	#userGroupEdit-frm {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: auto;
		gap: 0;
		width: 850px;
	}

	#userGroupEdit-frm > div {
		padding: 5px;
	}

	
	#userGroupEdit-obj_usergroup_id-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#userGroupEdit-obj_group_id-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#userGroupEdit-obj_usergroup_isdisabled-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#userGroupEdit-obj_user_id-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
		


}