@media screen and (min-width: 501px) {

	#userHeaderEdit-frm {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: auto;
		gap: 0;
		width: 850px;
	}

	#userHeaderEdit-frm > div {
		padding: 5px;
	}

	
	#userHeaderEdit-obj_user_id-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#userHeaderEdit-obj_user_name-container {
		grid-row: 1;
		grid-column: 1 / span 2;
		
	}
	
	#userHeaderEdit-obj_user_isdisabled-container {
		grid-row: 1;
		grid-column: 3 / span 2;
		
	}
	
	#userHeaderEdit-obj_user_fullname-container {
		grid-row: 2;
		grid-column: 1 / span 3;
		
	}
	
	#userHeaderEdit-obj_user_nickname-container {
		grid-row: 2;
		grid-column: 4 / span 2;
		
	}
	
	#userHeaderEdit-obj_user_email-container {
		grid-row: 3;
		grid-column: 1 / span 4;
		
	}
	
	#userHeaderEdit-obj_user_password-container {
		grid-row: 4;
		grid-column: 1 / span 4;
		
	}
	
	#userHeaderEdit-obj_user_isdev-container {
		grid-row: 5;
		grid-column: 1 / span 2;
		margin-left: 77px;
	}
	
	#userHeaderEdit-obj_user_isshowallprogram-container {
		grid-row: 6;
		grid-column: 1 / span 2;
		margin-left: 77px;
	}
		


}