@media screen and (min-width: 501px) {

	#userLoginEdit-frm {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: auto;
		gap: 0;
		width: 850px;
	}

	#userLoginEdit-frm > div {
		padding: 5px;
	}

	
	#userLoginEdit-obj_userlogin_id-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#userLoginEdit-obj_userlogin_name-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#userLoginEdit-obj_user_id-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
		


}