@media screen and (min-width: 501px) {

	#bcHeaderEdit-frm {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: auto;
		gap: 0;
		width: 850px;
	}

	#bcHeaderEdit-frm > div {
		padding: 5px;
	}

	
	#bcHeaderEdit-obj_bc_id-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#bcHeaderEdit-obj_bc_doc-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#bcHeaderEdit-obj_bc_descr-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
		


}