@media screen and (min-width: 501px) {

	#periodeHeaderEdit-frm {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: auto;
		gap: 0;
		width: 850px;
	}

	#periodeHeaderEdit-frm > div {
		padding: 5px;
	}

	
	#periodeHeaderEdit-obj_periode_id-container {
		grid-row: 1;
		grid-column: 1 / span 2;
		
	}
	
	#periodeHeaderEdit-obj_periode_isclosed-container {
		grid-row: 1;
		grid-column: 3;
		
	}
	
	#periodeHeaderEdit-obj_periode_isactive-container {
		grid-row: 1;
		grid-column: 4;
		
	}
	
	#periodeHeaderEdit-obj_periode_name-container {
		grid-row: 2;
		grid-column: 1 / span 3;
		
	}
	
	#periodeHeaderEdit-obj_periode_year-container {
		grid-row: 2;
		grid-column: 4;
		
	}
	
	#periodeHeaderEdit-obj_periode_month-container {
		grid-row: 2;
		grid-column: 5;
		
	}
	
	#periodeHeaderEdit-obj_periode_start-container {
		grid-row: 3;
		grid-column: 1 / span 2;
		
	}
	
	#periodeHeaderEdit-obj_periode_end-container {
		grid-row: 3;
		grid-column: 3 / span 2;
		
	}
	
	#periodeHeaderEdit-obj_previous_periode_id-container {
		grid-row: 4;
		grid-column: 1 / span 2;
		
	}
		


}