@media screen and (min-width: 501px) {

	#paymtypeHeaderEdit-frm {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: auto;
		gap: 0;
		width: 850px;
	}

	#paymtypeHeaderEdit-frm > div {
		padding: 5px;
	}

	
	#paymtypeHeaderEdit-obj_paymtype_id-container {
		grid-row: 1;
		grid-column: 1 / span 2;
		
	}
	
	#paymtypeHeaderEdit-obj_paymtype_name-container {
		grid-row: 2;
		grid-column: 1 / span 3;
		
	}
	
	#paymtypeHeaderEdit-obj_ishaspartnercontact-container {
		grid-row: 3;
		grid-column: 1 / span 2;
		margin-left: 77px;
	}
	
	#paymtypeHeaderEdit-obj_ishaspartnerbankselector-container {
		grid-row: 4;
		grid-column: 1 / span 2;
		margin-left: 77px;
	}
	
	#paymtypeHeaderEdit-obj_ishasbankaccount-container {
		grid-row: 3;
		grid-column: 3 / span 2;
		
	}
	
	#paymtypeHeaderEdit-obj_ishasbankaccountname-container {
		grid-row: 4;
		grid-column: 3 / span 2;
		
	}
	
	#paymtypeHeaderEdit-obj_ishasbankname-container {
		grid-row: 5;
		grid-column: 3 / span 2;
		
	}
	
	#paymtypeHeaderEdit-obj_ishasgiro-container {
		grid-row: 3;
		grid-column: 5 / span 2;
		
	}
		


}