@media screen and (min-width: 501px) {

	#itemclassHeaderEdit-frm {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: auto;
		gap: 0;
		width: 850px;
	}

	#itemclassHeaderEdit-frm > div {
		padding: 5px;
	}

	
	#itemclassHeaderEdit-obj_itemclass_id-container {
		grid-row: 1;
		grid-column: 1 / span 2;
		
	}
	
	#itemclassHeaderEdit-obj_itemclass_isdisabled-container {
		grid-row: 1;
		grid-column: 3 / span 2;
		
	}
	
	#itemclassHeaderEdit-obj_itemclass_name-container {
		grid-row: 2;
		grid-column: 1 / span 3;
		
	}
	
	#itemclassHeaderEdit-obj_itemclass_descr-container {
		grid-row: 3;
		grid-column: 1 / span 6;
		
	}
	
	#itemclassHeaderEdit-obj_owner_struct_id-container {
		grid-row: 4;
		grid-column: 1 / span 2;
		
	}
		


}