@media screen and (min-width: 501px) {

	#partnerContactEdit-frm {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: auto;
		gap: 0;
		width: 850px;
	}

	#partnerContactEdit-frm > div {
		padding: 5px;
	}

	
	#partnerContactEdit-obj_partnercontact_id-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#partnerContactEdit-obj_partnercontact_name-container {
		grid-row: 1;
		grid-column: 1 / span 3;
		
	}
	
	#partnerContactEdit-obj_partnercontact_isdisabled-container {
		grid-row: 1;
		grid-column: 4 / span 2;
		
	}
	
	#partnerContactEdit-obj_partnercontact_position-container {
		grid-row: 2;
		grid-column: 1 / span 2;
		
	}
	
	#partnerContactEdit-obj_partnercontact_hp-container {
		grid-row: 3;
		grid-column: 1 / span 2;
		
	}
	
	#partnerContactEdit-obj_partnercontact_email-container {
		grid-row: 3;
		grid-column: 3 / span 3;
		
	}
	
	#partnerContactEdit-obj_partner_id-container {
		grid-row: 1;
		grid-column: 1 / span 2;
		
	}
		


}