@media screen and (min-width: 501px) {

	#partnerHeaderEdit-frm {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: auto;
		gap: 0;
		width: 850px;
	}

	#partnerHeaderEdit-frm > div {
		padding: 5px;
	}

	
	#partnerHeaderEdit-obj_partner_id-container {
		grid-row: 1;
		grid-column: 1 / span 2;
		
	}
	
	#partnerHeaderEdit-obj_partner_isdisabled-container {
		grid-row: 1;
		grid-column: 3 / span 2;
		
	}
	
	#partnerHeaderEdit-obj_partner_isemployee-container {
		grid-row: 1;
		grid-column: 5 / span 2;
		
	}
	
	#partnerHeaderEdit-obj_partner_name-container {
		grid-row: 2;
		grid-column: 1 / span 4;
		
	}
	
	#partnerHeaderEdit-obj_partner_legaltitle-container {
		grid-row: 2;
		grid-column: 5 / span 2;
		
	}
	
	#partnerHeaderEdit-obj_partnertype_id-container {
		grid-row: 3;
		grid-column: 1 / span 2;
		
	}
	
	#partnerHeaderEdit-obj_employee_nip-container {
		grid-row: 3;
		grid-column: 3 / span 2;
		
	}
	
	#partnerHeaderEdit-obj_partner_address-container {
		grid-row: 4;
		grid-column: 1 / span 4;
		
	}
	
	#partnerHeaderEdit-obj_partner_city-container {
		grid-row: 5;
		grid-column: 1 / span 2;
		
	}
	
	#partnerHeaderEdit-obj_partner_email-container {
		grid-row: 5;
		grid-column: 3 / span 3;
		
	}
	
	#partnerHeaderEdit-obj_partner_npwp-container {
		grid-row: 6;
		grid-column: 1 / span 3;
		
	}
	
	#partnerHeaderEdit-obj_partner_isnonpkp-container {
		grid-row: 6;
		grid-column: 4 / span 2;
		
	}
		


}