@media screen and (min-width: 501px) {

	#interfaceHeaderEdit-frm {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: auto;
		gap: 0;
		width: 850px;
	}

	#interfaceHeaderEdit-frm > div {
		padding: 5px;
	}

	
	#interfaceHeaderEdit-obj_interface_id-container {
		grid-row: auto;
		grid-column: 1 / span 2;
		
	}
	
	#interfaceHeaderEdit-obj_interface_name-container {
		grid-row: auto;
		grid-column: 1 / span 3;
		
	}
		


}