@media print {

	@page {
		size: A4 potrait;
		margin: 1cm;
	}

	@page :first {
		margin-top: 0;
	}

	#print-media {
		/* Ukuran A4 standar adalah 21cm x 29.7cm */
		width: 21cm;
		min-height: 29.7cm;
		margin: 0;
		padding: 0;
		font-size: 10pt;
		display: flex;
		flex-direction: column;
	}


	#print-area {
		margin-top: 1cm;
		flex-grow: 1;
	}

	#tbl-infoloader {
		display: none;
	}


	#report-logo {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 15mm;
		width: 60mm;
	}

}


@media screen {
	#report-logo {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 32px;
		width: 128px;
	}
}


#judul-laporan {
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 5px;
}

#tbl-report th {
	background-color: #ccc;
	border-bottom: 1px solid #999;
}

#tbl-report tr [ data-colname="rowid"] {
	/* width: 60px; */
	text-align: center;
}

#tbl-report tr [data-format="decimal"] {
	/* width: 150px; */
	text-align: right;
}
#tbl-report tr td {
	border-bottom: 1px dotted #ccc;
}


#tbl-report td[data-colname="jurnal_datedue"],
#tbl-report td[data-colname="jurnal_date"],
#tbl-report td[data-colname="coarpt_name"] {
	width: 100px;
    text-align: center;
}

#agingHeader {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	/* grid-auto-rows: auto; */
	gap: 0px;
	width: 100%;
	margin-bottom: 10px;

}

#filter-container {
	grid-row: 1;
	grid-column: 1 / span 8;
}

#btn {
	grid-row: 1;
	grid-column: 11 / span 2;
	text-align: right;
}